:root {
  --bodytext-12-bold-font-family: "Roboto", Helvetica;
  --bodytext-12-bold-font-size: 12px;
  --bodytext-12-bold-font-style: normal;
  --bodytext-12-bold-font-weight: 700;
  --bodytext-12-bold-letter-spacing: 0px;
  --bodytext-12-bold-line-height: 129.99999523162842%;
  --bodytext-12-light-font-family: "Roboto", Helvetica;
  --bodytext-12-light-font-size: 12px;
  --bodytext-12-light-font-style: normal;
  --bodytext-12-light-font-weight: 300;
  --bodytext-12-light-letter-spacing: 0px;
  --bodytext-12-light-line-height: 129.99999523162842%;
  --bodytext-12-bold-font-family: "Genos", sans-serif;
  --bodytext-12-regular-font-size: 12px;
  --bodytext-12-regular-font-style: normal;
  --bodytext-12-regular-font-weight: 400;
  --bodytext-12-regular-letter-spacing: 0px;
  --bodytext-12-regular-line-height: 129.99999523162842%;
  --bodytext-12-light-font-family: "Genos", sans-serif;
  --bodytext-12-regular-font-family: "Roboto", Helvetica;
  --bodytext-12-regular-font-size: 12px;
  --bodytext-12-regular-font-style: normal;
  --bodytext-12-regular-font-weight: 400;
  --bodytext-12-regular-letter-spacing: 0px;
  --bodytext-12-regular-line-height: 129.99999523162842%;
  --bodytext-14-bold-font-family: "Roboto", Helvetica;
  --bodytext-14-bold-font-size: 14px;
  --bodytext-14-bold-font-style: normal;
  --bodytext-14-bold-font-weight: 700;
  --bodytext-14-bold-letter-spacing: 0px;
  --bodytext-14-bold-line-height: 129.99999523162842%;
  --bodytext-14-light-font-family: "Roboto", Helvetica;
  --bodytext-14-light-font-size: 14px;
  --bodytext-14-light-font-style: normal;
  --bodytext-14-light-font-weight: 300;
  --bodytext-14-light-letter-spacing: 0px;
  --bodytext-14-light-line-height: 129.99999523162842%;
  --bodytext-14-regular-font-family: "Roboto", Helvetica;
  --bodytext-14-regular-font-size: 14px;
  --bodytext-14-regular-font-style: normal;
  --bodytext-14-regular-font-weight: 400;
  --bodytext-14-regular-letter-spacing: 0px;
  --bodytext-14-regular-line-height: 129.99999523162842%;
  --bodytext-16-bold-font-family: "Roboto", Helvetica;
  --bodytext-16-bold-font-size: 16px;
  --bodytext-16-bold-font-style: normal;
  --bodytext-16-bold-font-weight: 700;
  --bodytext-16-bold-letter-spacing: 0px;
  --bodytext-16-bold-line-height: 129.99999523162842%;
  --bodytext-16-light-font-family: "Roboto", Helvetica;
  --bodytext-16-light-font-size: 16px;
  --bodytext-16-light-font-style: normal;
  --bodytext-16-light-font-weight: 300;
  --bodytext-16-light-letter-spacing: 0px;
  --bodytext-16-light-line-height: 129.99999523162842%;
  --bodytext-16-regular-font-family: "Roboto", Helvetica;
  --bodytext-16-regular-font-size: 16px;
  --bodytext-16-regular-font-style: normal;
  --bodytext-16-regular-font-weight: 400;
  --bodytext-16-regular-letter-spacing: 0px;
  --bodytext-16-regular-line-height: 129.99999523162842%;
  --bodytext-18-bold-font-family: "Roboto", Helvetica;
  --bodytext-18-bold-font-size: 18px;
  --bodytext-18-bold-font-style: normal;
  --bodytext-18-bold-font-weight: 700;
  --bodytext-18-bold-letter-spacing: 0px;
  --bodytext-18-bold-line-height: 129.99999523162842%;
  --bodytext-18-light-font-family: "Roboto", Helvetica;
  --bodytext-18-light-font-size: 18px;
  --bodytext-18-light-font-style: normal;
  --bodytext-18-light-font-weight: 300;
  --bodytext-18-light-letter-spacing: 0px;
  --bodytext-18-light-line-height: 129.99999523162842%;
  --bodytext-18-regular-font-family: "Roboto", Helvetica;
  --bodytext-18-regular-font-size: 18px;
  --bodytext-18-regular-font-style: normal;
  --bodytext-18-regular-font-weight: 400;
  --bodytext-18-regular-letter-spacing: 0px;
  --bodytext-18-regular-line-height: 129.99999523162842%;
  --h1-font-family: "Roboto", Helvetica;
  --h1-font-size: 80px;
  --h1-font-style: normal;
  --h1-font-weight: 600;
  --h1-letter-spacing: 0px;
  --h1-line-height: 129.99999523162842%;
  --h2-font-family: "Roboto", Helvetica;
  --h2-font-size: 64px;
  --h2-font-style: normal;
  --h2-font-weight: 600;
  --h2-letter-spacing: 0px;
  --h2-line-height: 129.99999523162842%;
  --h3-font-family: "Roboto", Helvetica;
  --h3-font-size: 48px;
  --h3-font-style: normal;
  --h3-font-weight: 600;
  --h3-letter-spacing: 0px;
  --h3-line-height: 129.99999523162842%;
  --h4-font-family: "Roboto", Helvetica;
  --h4-font-size: 32px;
  --h4-font-style: normal;
  --h4-font-weight: 600;
  --h4-letter-spacing: 0px;
  --h4-line-height: 129.99999523162842%;
  --h5-font-family: "Roboto", Helvetica;
  --h5-font-size: 24px;
  --h5-font-style: normal;
  --h5-font-weight: 600;
  --h5-letter-spacing: 0px;
  --h5-line-height: 129.99999523162842%;
  --h6-font-family: "Roboto", Helvetica;
  --h6-font-size: 20px;
  --h6-font-style: normal;
  --h6-font-weight: 600;
  --h6-letter-spacing: 0px;
  --h6-line-height: 129.99999523162842%;
}
